* {
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
}

header {
    height: 100px;
    background-color: lightpink;
}

main {
    height: calc(100vh - 100px);
    background-color: lightblue;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

#outer-container {
    width: 400px;
    background-color: white;
}

#signup-form {
    max-width: 400px;
    text-align: center;
    box-sizing: border-box;
    padding: 45px;
}

.input-field {
    width: 100%;
    border: none;
    outline: none;
    background-color: #F2F4F4;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;

    transition: all 0.2s ease;
}

.input-field::placeholder {
    color: black;
}

#signup-btn {
    width: 100%;
    padding: 15px;
    border: none;
    outline: none;
    background-color: lightcoral;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 5px;   
}

.input-error {
    border: 2px solid #c21f34;
    background-color: #ebbcc2;
}

.input-error::placeholder {
    color: black;
    font-weight: 600;
    letter-spacing: 0.px;
}

.alert {
    margin: -13px 10px 10px;
    float: left;
    box-sizing: border-box;
    color: #c21f34;
    transition: all 0.2s ease;
    /* margin: -10px auto 10px;
    box-sizing: border-box;
    padding: 5px;
    margin: -15px 0 10px;
    width: 100%;
    float: left;
    color: #c21f34;
    border-radius: 4px;

    transition: all 0.2s ease; */
}
